@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <img src="~/Content/Images/header.png" style="width:100%" />
    <div class="col-md" style="text-align:center">
        <h1>Welcome to B-Our Guest</h1>
        <p class="lead">Connecting Restaurants & Diners across Ireland using our unique cloud-based booking technology </p>
        <p><a href="#about" class="animated wobble btn btn-custom btn-1 btn-1e">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4" style="text-align:center">
            <i class="fa fa-magic fa-5x"></i>
            <h2>Getting started</h2>
            <p>
                Sign-up and enter your restaurant details for everyone to see. <br />You can add images, restaurant details and contact information.
            </p>
            <p><a class="btn btn-custom btn-1 btn-1e" href="/Account/Register">Sign up now &raquo;</a></p>
        </div>
        <div class="col-md-4" style="text-align:center">
            <i class="fa fa-pencil fa-5x"></i>
            <h2>Create you custom floorplan</h2>
            <p>
                Using our unique drag-and-drop tool, it's simple to create your own floorplan based on your restaurant layout. Diners can use this floorplan to select any table they want.
            </p>
            <p><a class="btn btn-custom btn-1 btn-1e" href="/Floorplans">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4" style="text-align:center">
            <i class="fa fa-credit-card fa-5x"></i>
            <h2>Live Booking Management</h2>
            <p>
                Reservations can be reviewed and edited using our management tool, the power is in your hands. Overviews of each day or week is available so you can plan ahead efficiently.
            </p>
            <p><a class="btn btn-custom btn-1 btn-1e" href="#">Coming soon!</a></p>
        </div>
    </div>
</div>




<div id="about" class="about">
    <div class="page-header" style="text-align:center">
        <h1 style="font-size:50px;">About B-Our Guest</h1>
        <h4>Find out what makes us tick</h4>
    </div>
    <div class="row">
        <p class="col-lg-2"></p>
        <p class="col-lg-4">
            Many restaurants in the UK and Ireland have their own mobile applications that allow users to make a reservation, pre-order food for quick lunch meals or just provide information about themselves.
            Although the concept of having diners make reservations with their phone without ringing up sounds great, it's an unrealistic goal for most. Not every restaurant will have the funds to maintain
            a mobile application. Relying on diners to download specific apps for specific restaurants is a crazy thought, due to it being a waste of storage space and a waste of time for everyone.
            This is where B-Our Guest comes in.
        </p>
        <p class="col-lg-4">

            B-Our Guest was designed to give restaurants an easy reservation and discovery feature for new customers using a mobile device. When signed-up to our service, a
            restaurant is categorized correctly and immediately searchable, exposing it directly to potential diners' via their Android device.
            Based on a user’s location, nearby restaurants are automatically displayed with previous customer reviews and any information you want stored about your establishment.
            <br /><br />B-Our Guest goes one step further than any other booking application, by allowing diners to pick specific tables in your restaurant. This allows diners to make a quick
            but precise reservation on a table they like, in a restaurant they like. B-Our Guest also has a featured / "What's hot" section for new or popular restaurants in the area.
            We aim to promote restaurants and help them grow their presence within the surrounding area. Diner's benefit from B-Our Guest by getting a huge choice selection of restaurants
            from within a single app.

        </p>
        <p class="col-lg-2"></p>

    </div>
    <div class="page-header" style="text-align:center">
        <h1 style="font-size:50px;">The tech stuff nobody understands</h1>
    </div>
    <div class="row">
        <p class="col-lg-2"></p>
        <p class="col-lg-4">
            For our 3rd year Computing project, we wanted to make something really cool and useful. We spent weeks spitballing ideas back and forth every day, each having pros and cons.
            A mobile game was first on our list, and we had some great concepts for them. Due to time-constraints and our strive for perfection as a group, we decided to focus primarily on
            mobile application development and set aside our game fantasies for next summer. The idea for B-Our Guest came very suddenly, as we were discussing how we all hate making reservations
            over the phone. You can book a cinema seat, train seat, airplane seat etc. directly and to your choosing, so why not a restaurant?
            <br />
            The mobile application is compatible with Android 4.4 KitKat and above, where we followed Google's Material Design specifications to create a polished User Interface.
            Backed by Microsoft's Azure cloud services, we were able to create a powerful reservation system for restaurants and diners. Server-side scripts, stored proceedures,
            custom Web API's and a SQL database keep the system rolling in the background.
        </p>
        <p class="col-lg-4">
            IMAGE OF ANDROID APP TO GO HERE
        </p>
        <p class="col-lg-2"></p>

    </div>
</div>

<div id="contact">
    <div class="page-header">
        <h1>Contact Us</h1>
    </div>
</div>