
@{
    ViewBag.Title = "SuccessDroid";
}

<div class="row" style="padding-top:40px; text-align:center">
     <div class="col-md-4">
         <img src="~/Content/Images/htcOne.png" />
     </div>
    <div class="col-md-4">
        <p>Hooray! Your account is fully verified, which means you can enjoy B-Our Guest completely</p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/Samsung.png" />
    </div>
</div>

