@model testLogin.Models.Floorplan

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>



<div class="form-horizontal">
    <h4>Floorplan</h4>
    <hr />
    <div>
        <select id="floorsize" class="form-control" style=" float:left;">
            <option selected="selected" disabled="disabled">Pick restaurant size</option>
            <option value="small">Small - 5x5</option>
            <option value="medium">Medium -10x10</option>
            <option value="large">Large - 20x20</option>
            <option value="xlarge">X-Large - 35x35</option>
        </select>
        <button type="button" class="btn btn-success" onclick="enableDrag()">Create</button>
        <button type="button" class="btn btn-danger" onclick="deleteTable()">Delete</button>
        <input type="text" name="planName" id="planName" class="form-control" style="margin-top: 10px" placeholder="Floorplan name e.g. Upstairs">
    </div>
    <div id="drag" onload="">
        <!-- left container -->
        <div id="left">
            <table id="table1">
                <colgroup>
                    <col width="100">
                </colgroup>
                <tbody>
                    <tr>
                        <td class="trash single">
                            <div class="drag clone  chair" id="seat">Seat</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="trash single">
                            <div style="border-radius:50%" class="drag clone  stool" id="stool">Stool</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="trash single">
                            <div class="drag clone  sqTable" id="sqT">Square Table</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="trash single">
                            <div style="border-radius:50%" class="drag clone  rTable" id="Rnd">Round Table</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="trash custom">Trash</td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-success" style="width:100%;height:60px" onclick="saveLayout()">Save</button></td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        <!-- right container for interactive table-->
        <div id="right">
        </div>
        <!-- Display block content.
         Not implemented yet.
         Will be used for database method (String search for _ to split values)
        -->
        <div id="message" class=""><br></div>
    </div>

    <div>
    </div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
