@model testLogin.Models.Floorplan

@{
    ViewBag.Title = "Create";
}
@section Styles {

    <style>
        ul .alert-info {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li .alert-info {
            padding-left: 1em;
            text-indent: -.7em;
        }

        li:before .alert-info {
            content: "• ";
            color: #375a7f; /* or whatever color you prefer */
        }
        .header{
            text-align:center;
        }
        .button-section{
            margin-top:10px;
            margin-left:25px;
        }
    </style>
}


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 style="text-align:center">Create a new Floorplan</h2>

        <div class="header">
            <p>Use our easy drag-and-drop tool below to recreate your restaurant's floorplan.</p>
            <p> Give it a name, save it, and it will be available instantly on our Android app!</p>
            
        </div>
        <div id="infotab" class="alert alert-info" style="display:none;">
            <p>Currently all floorplans are set as active, which means diners will be able to book them!</p>
            <p> We're working hard to bring you new features such as:</p>
            <br />
            <ul>
                <li>Active / Inactive floorplans (different layouts for events etc.)</li>
                <li>New types of floorplan objects, including bigger tables, booths, and more!</li>
                <li>Floorplan editor tools. Create once and edit just as quick.</li>

            </ul>
            <div style="text-align:center">
                <input type="button" id="cool" style="margin-top:10px;" value="Cool!" class="btn btn-primary" />
            </div>
            <form style="text-align:right" role="form">
                <div class="checkbox checkbox-info">
                    <input type="checkbox" id="checkbox1">
                    <label for="checkbox1">
                        Don't show this again
                    </label>
                </div>
            </form>

        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-2">
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
        <div class="input-group" style="display:block">
            <select id="floorsize" class="form-control">
                <option selected="selected" disabled="disabled">Pick restaurant size</option>
                <option value="Regular">Small - 5x5</option>
                <option value="Normal">Medium -10x10</option>
                <option disabled="disabled">More options coming soon!</option>
            </select>
            <span class="input-group-btn">
                <button type="button" class="btn btn-success" onclick="enableDrag()">Create</button>
                <button type="button" class="btn btn-danger" onclick="deleteTable()">Delete</button>
            </span>
        </div><!-- /input-group -->
        <input type="text" name="planName" id="planName" class="form-control" style="margin-top: 10px" placeholder="Floorplan name e.g. Upstairs">
        <form role="form">
            <div class="checkbox checkbox-info">
                <input type="checkbox" id="active">
                <label for="active">
                    Set this floorplan as active
                </label>
            </div>
        </form>
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<div class="row" id="drag" onload="">
    <!-- left container -->
    <div class="col-md-2" id="left">
        <table id="table1">
            <colgroup>
                <col width="100">
            </colgroup>
            <tbody>
                <tr>
                    <td class="trash single">
                        <div class="drag clone fourRnd" id="fourRnd"><img src="~/Content/Images/fourRnd.png" /></div>
                    </td>
                    <td class="trash single">
                        <div class="drag clone fourRoundRot" id="fourRoundRot"><img src="~/Content/Images/fourRndrot.png" /></div>
                    </td>
                </tr>
                <tr>
                    <td class="trash single">
                        <div class="drag clone fourSqt" id="fourSqt"><img style="padding-top:10px" src="~/Content/Images/fourSqt.png" /></div>
                    </td>
                    <td class="trash single">
                        <div class="drag clone fourSquareRot" id="fourSquareRot"><img style="padding-top:5px" src="~/Content/Images/fourSqtrot.png" /></div>
                    </td>
                </tr>
                <tr>
                    <td class="trash single">
                        <div class="drag clone sixSqt" id="sixSqt"><img style="padding-top:10px" src="~/Content/Images/sixSqt.png" /></div>
                    </td>
                    <td class="trash single">
                        <div class="drag clone sixSquareRot" id="sixSquareRot"><img style="padding-top:5px" src="~/Content/Images/sixSqtrot.png" /></div>
                    </td>
                </tr>
                <tr>
                    <td class="trash single">
                        <div class="drag clone twoRnd" id="twoRnd"><img style="padding-top:10px" src="~/Content/Images/twoRnd.png" /></div>
                    </td>
                    <td class="trash single">
                        <div class="drag clone twoRoundRot" id="twoRoundRot"><img style="padding-top:15px" src="~/Content/Images/twoRndrot.png" /></div>
                    </td>
                </tr>
                <tr>
                    <td class="trash single">
                        <div class="drag clone twoSqt" id="twoSqt"><img style="padding-top:5px" src="~/Content/Images/twoSqt.png" /></div>
                    </td>
                    <td class="trash single">
                        <div class="drag clone twoSquareRot" id="twoSquareRot"><img style="padding-top:10px" src="~/Content/Images/twoSqtrot.png" /></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="trash custom">Trash</td>
                </tr>

            </tbody>
        </table>

    </div>
    <!-- right container for interactive table-->
    <div class="col-md-10" id="right">
    </div>
    <!-- Display block content.
     Not implemented yet.
     Will be used for database method (String search for _ to split values)
    -->
    <div id="message" class=""><br></div>
</div>

<div class="button-section">

    @Html.ActionLink("Back to List", "Index", new { id = "backButton" }, new { @class = "btn btn-info" })
    <button class="btn btn-success" onclick="saveLayout()">Save</button>
    <p>Note: We reccommend using Google Chrome for optimal results, floorplan creation on a mobile is not fully supported. (Sizing issues)</p>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/redips-drag-source.js")
    <script type="text/javascript">
        $(document).ready(function () {
            var checked = localStorage.getItem('checked') || '';
            if (checked != 'yes') {

                $('#infotab').toggle('slow', function () {
                    // Animation complete.
                });
            }
            $('#cool').click(function () {
                $('#infotab').toggle('fast', function () {
                    // Animation complete.
                });
                if (document.getElementById("checkbox1").checked == true) {
                    localStorage.setItem('checked', 'yes');
                }
            });
        });
    </script>
}
