@model IEnumerable<testLogin.Models.Floorplan>

@{
    ViewBag.Title = "Floorplan";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="jumbotron">
    <h1>MAKE YOUR OWN FLOORPLAN</h1>
    <p>At B-OurGuest, we give you the ability to create and maintain your own floorplan easily.</p>
    <p>Changes are instant, across the website, database and mobile application</p>
</div>
